## .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs

## VS Code
.vscode/
.vs/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio temporary files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## Rider
.idea/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates 